.hidden{
    display:none;
}
.list-of-functions{
    color:white;
}
body{
    margin:0px;
    font-family: 'DynaPuff', cursive;
}
.flex-container-login{
    display:flex;
    height:100vh;
}

.flex-container-login .vertical-block{
    width:5%;
    height:100vh;
    background-color:#6f849c;
    border-radius: 5px;
}

.flex-container-login .central-block{
    width:90%;
    height:100vh;
}

.flex-container-login .central-block h1{
    text-align: center;
    color:#e35760;
    text-decoration: underline;
}

.flex-container-login .central-block .form{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    height:275px;
    background-color: #a9b7c6;
    border-radius: 10px;
    padding:30px;
    position:relative;
    overflow: hidden;
}

.flex-container-login .form input{
    width:90%;
    height:30px;
    margin-bottom: 15px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-left:10px;
}

.flex-container-login .form button{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:150px;
    height:50px;
    background-color:#e35760;
    color:white;
    border-color: white;
    border-radius: 10px;
    position:absolute;
    bottom:40px;
    left:50%;
    transform: translate(-50%, -50%);
}

.flex-container-login .form button:hover{
    background-color: #6f849c;
    color:white;
}

.flex-container-login .form a{
    color:white;
    position:absolute;
    bottom:20px;
}

.flex-container-login .form hr{
    color:white;
    position:absolute;
    bottom:10px;
    width:100%;
    left:0;

}

.flex-container-login .form a::before{
    content:"*";
    color:#e35760;
    padding-right: 5px;
}

.flex-container-login .form a:hover{
    color:#e35760;
}